* {
  margin: 0;
  padding: 0;
  font-family: "kanit";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body,
head {
  background-color: #E1E7FE;
  padding-top: 85px;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  justify-content: space-evenly;
  padding: 30px 0;
  border-bottom: 1px solid #7A7A7A;
  background:
    rgba(215, 8, 8, 0);
  backdrop-filter:
    blur(20px);
  -webkit-backdrop-filter:
    blur(20px);
  border-radius:
    10px;
}

nav .navBody {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
  background:
    rgba(215, 8, 8, 0);
}

nav h1 {
  color: #17152B;
  font-size: 3vw;
  background: transparent;
}

nav h4 {
  color: #333148;
  font-size: 13pt;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(215, 8, 8, 0);
}

nav h4 a:hover {
  color: #202020;
  font-weight: 900;
  letter-spacing: 1pt
}

nav h4 a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333148;
  transition: 0.5s;
  background: rgba(215, 8, 8, 0);
}

.partActiveInNav {
  width: 100px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 413px;
  transition: 1s;
}

.canvasOnTopWrapper {
  width: 500px;
  height: 500px;
}


canvas {
  width: 500px;
  height: 500px;
  display: none
}

.page-1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.page-1 .backgroundText {
  position: absolute;
  z-index: 0;
  top: 5%;
  font-size: 8vw;
}

.page-1 .backgroundText .char {
  color: transparent;
  -webkit-text-stroke: 1px #1A1A1A;
}

.page-1 .box-1 {
  width: 47vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2vw 0 0;
}

.page-1 .box-1 .secondary {
  color: #1F1C3B;
  font-size: 3vw;
  font-weight: bold;
}

.secondary span {
  color: #17152B;
}

.page-1 .box-1 .primary-text {
  color: #17152B;
  font-size: 6.55vw
}

.button-page-1 {
  opacity: 0;
  height: 55px;
  width: 17vw;
  border: 2px solid #8767F1;
  margin-top: 2vh;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  transform: translateY(300px);
  overflow: hidden;
}

.button-page-1 span {
  color: #17152B;
  position: relative;
  z-index: 2;
  background: transparent;
}

.button-page-1::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50px;
  background: #8767F1;
  transition: width 0.5s, height 0.5s;
}

.button-page-1:hover::before {
  transition: 0.5s;
  width: 300px;
  height: 300px;
  background-color: #8767F1;
}

.page-1 .box-2 {
  width: 400px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 2vw;
}

.box-2 svg {
  position: absolute;
  width: 50vw;
}

.box-2 img {
  width: 400px;
}

#string {
  width: 100vw;
  height: 100px;
}

.wrapperPage-2 {
  overflow-x: hidden;
}

.page-2 {
  height: 100vh;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-wrap: nowrap;
}

.page-2 .page-2h {
  display: flex;
  margin-left: 5vw;
  font-size: 3rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-flow: row;
  margin-left: 50px;
}

.html {
  width: 335px;
  height: 400px;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.css {
  width: 335px;
  height: 400px;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.js {
  width: 335px;
  height: 400px;
  margin-left: 50px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-right: 100px;
}

.mainText {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
}

.mainText h1 {
  position: absolute;
  margin-top: 30px;
  color: #17152B;
  font-size: 50pt;
  z-index: 2;
}

.number {
  background-repeat: no-repeat;
  font-size: 50pt;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  margin-top: -5pt;
  border-radius: 15%;
}

.number h1 {
  margin-left: 5pt;
  color: #FFFFFF00;
  -webkit-text-stroke: 1.5px #8767F1;
}


.secondaryText {
  font-size: 30pt;
  top: 35%;
  left: 10%;
  position: absolute;
}

.secondaryText h6 {
  color: #444;
}

.secondaryText h6 p {
  font-size: 11pt;
  margin-left: 10pt;
  margin-right: 10pt;
  color: #333;
  flex-wrap: wrap;
}

.strip {
  font-size: 6vw;
  display: flex;
  width: 400%;
  flex-wrap: nowrap;
}

.strip h1 {
  color: #00941A;
  line-height: 12vh;
}

.strip h1 span {
  -webkit-text-stroke: 2px #1F2242;
  color: transparent;
}

.strip2 {
  font-size: 6vw;
  display: flex;
  width: 400%;
  flex-wrap: nowrap;
  margin-left: -100%;
}

.strip2 h1 {
  color: #1F2242;
  line-height: 12vh;
}

.strip2 h1 span{
  color: transparent;
  -webkit-text-stroke: 2px #1F2242;
}

.lightBG {
  width: 100%;
  height: 100vh;
}