* {
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
  color: #DEDEDE;
  font-family: "kanit";
}

body,
head {
  padding-top: 85px;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  justify-content: space-evenly;
  padding: 30px 0;
  border-bottom: 1px solid #7A7A7A;
  background:
    rgba(215, 8, 8, 0);
  backdrop-filter:
    blur(20px);
  -webkit-backdrop-filter:
    blur(20px);
  border-radius:
    10px;
}

nav .navBody {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  background:
    rgba(215, 8, 8, 0);
}

nav h1 {
  font-size: 3vw;
  background: rgba(215, 8, 8, 0);
}

nav h4 {
  color: #C2C2C2;
  font-size: 13pt;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(215, 8, 8, 0);
}

nav h4 a:hover {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1pt
}

nav h4 a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C3C3C3;
  transition: 0.5s;
  background: rgba(215, 8, 8, 0);
}

.partActiveInNav {
  width: 100px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 413px;
  transition: 1s;
}

.canvasOnTopWrapper {
  width: 500px;
  height: 500px;
}


canvas {
  width: 500px;
  height: 500px;
  display: none
}

.page-1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.page-1 .box-1 {
  width: 40vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2vw 0 0;
}

.page-1 .box-1 .secondary {
  font-size: 3vw;
  font-weight: bold;
}

.page-1 .box-1 .primary-text {
  font-size: 5vw
}

.button-page-1 {
  height: 55px;
  width: 17vw;
  border: 3px solid #004A77;
  margin-top: 2vh;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  border-radius: 30px;
  color: #fff;
  transition: 0.5s;
  transform: translateX(-300px)
}

.button-page-1:hover {
  background-color: #004A77;
}


.page-1 .box-2 {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2vw 0;
}

.box-2 img {
  width: 450px;
}

#string {
  width: 100%;
  height: 100px;
}

.wrapperPage-2 {
  overflow-x: hidden;
}

.page-2 {
  height: 100vh;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-wrap: nowrap;
}

.page-2 .page-2h {
  display: flex;
  margin-left: 5vw;
  font-size: 3rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-flow: row;
}

.html {
  width: 335px;
  height: 400px;
  margin-left: 50px;
  background-color: #121212;
  border-radius: 15%;
  border: 1px solid #B3B3B3;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.css {
  width: 335px;
  height: 400px;
  margin-left: 100px;
  background-color: #121212;
  border-radius: 15%;
  border: 1px solid #B3B3B3;
}

.js {
  width: 335px;
  height: 400px;
  margin-left: 100px;
  background-color: #121212;
  border-radius: 15%;
  border: 1px solid #B3B3B3;
}

.gsap {
  width: 335px;
  height: 400px;
  margin-left: 100px;
  background-color: #121212;
  border-radius: 15%;
  border: 1px solid #B3B3B3;
}

.threeJs {
  width: 335px;
  height: 400px;
  margin-left: 100px;
  margin-right: 50px;
  background-color: #121212;
  border-radius: 15%;
  border: 1px solid #B3B3B3;
}

.mainText {
  background-color: transparent;
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
}

.mainText h1 {
  background-color: #121212;
  margin-top: 30px;
  color: #BABABA;
  font-size: 50pt;
}

.number {
  background-color: #121212;
  background-repeat: no-repeat;
  font-size: 50pt;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  margin-top: -5pt;
  border-radius: 15%;
}

.number h1 {
  background-color: #121212;
  margin-left: 10pt;
}
  

.html .secondaryText {
  background-color: #121212;
  font-size: 30pt;
  top: 35%;
  left: 10%; 
  position: absolute;
}

.html .secondaryText h6 {
  color: #888888;
  background-color: #121212
}

.html .secondaryText h6 p{
  background-color: #121212;
  font-size: 13pt;
  margin-left: 10pt;
  margin-right: 10pt;
  color: #B9B9B9;
  flex-wrap: wrap;
}

.lightBG {
  width: 100%;
  height: 100vh;
}